# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Kubernetes
*.log
*.out

# OS / Editor
.DS_Store
*.swp

# PEM files
pemfile
*.pem

# Ignore ONNX models
*.onnx
models/

# Ignore Python virtual environments
onnx-env/
